# Dependencies
/node_modules
.prettierignore
# Build output
/dist

# Coverage
/coverage

# Seed data
/drizzle
/src/seeds

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Testing
/.nyc_output

# Misc
*.tsbuildinfo